body{
    margin: 0;
    padding: 0;
}

.container{
    display:flex;
}

.leftsidebar{
    background-color: #000;
    width: 10%;
    height: 100vh;
    /* margin-left:1px;
    margin-top: 3px; */
}

.rightcontent{
    width: 90%;
    background-color:rgb(41, 41, 41);
}

.pcmap > a, i{
    color:white;
    text-decoration: none;
    font-size:130%;
}

.reservation > a, i{
    color:white;
    text-decoration: none;
    font-size:130%;
}

.shop > a, i{
    color:white;
    text-decoration: none;
    font-size:130%;
}

.userinfo > a, i{
    color:white;
    text-decoration: none;
    font-size:130%;
}

.logout > a, i{
    color:white;
    text-decoration: none;
    font-size:130%;
}

.pcmap{
    height:15%;
    padding-left: 7%;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    border-top: .5px dotted rgb(48, 47, 47);
}

.reservation{
    height: 15%;
    padding-left: 7%;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    border-top: .5px dotted rgb(48, 47, 47);
}

.shop{
    height:15%;
    padding-left: 7%;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    border-top: .5px dotted rgb(48, 47, 47);
}

.userinfo{
    height:15%;
    padding-left: 7%;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: .5px dotted rgb(48, 47, 47);
    border-top: .5px dotted rgb(48, 47, 47);
}

.logout{
    height:15%;
    padding-left: 7%;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: .5px dotted rgb(48, 47, 47);
    border-top: .5px dotted rgb(48, 47, 47);
}

.pcmap:hover{
    background-color: tomato;
}

.reservation:hover{
    background-color: tomato;
}

.shop:hover{
    background-color: tomato;
}

.userinfo:hover{
    background-color: tomato;
}

.logout:hover{
    background-color: tomato;
}

@media screen and (max-width:640px){
    .container{
        display:flex;
        flex-direction: column;
    }
    .leftsidebar{
        width:100%;
        height:30%;
        padding-left: .5%;  
    }
    .rightcontent{
        width: 100%;
        height: 100vh;
    }
}