{% extends "base1.html" %}

{% block content %} 
<nav class="">
    <a class="" href="#">Navbar</a>
    <div class="" id="navbarText">
      <ul class="">
        {% if user.is_authenticated %}
        
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Welcome, {{user.username}}</a>
        </li>
        {% endif %}
        {% if user.is_superuser %}                      
            <li class="">
                <a href="/admin">Admin Panel</a>
            </li>   
        {% endif %}    
      </ul>
    </div>
</nav>
{% endblock %}