{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
{% endblock %}
{% block content %} 
<nav class="navbar">
  <div class="navbarc">
      <a class="logo" href="/home"><img id="logoslika" src="{% static 'pictures/logo.png' %}" alt="logo"></a>
      <div class="welcome">
        {% if user.is_authenticated %}  
        <a href="#">Welcome, {{user.username | capfirst}}</a>
        {% if user.is_superuser %}                      
                <a id="admin" href="/admin">Admin Panel</a>
        {% endif %}
          <a id="logout" href="/logout">Logout</a>
        {% endif %}
      </div>
  </div>
</nav>
{% endblock %}